<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre Mi</h2>
    <p>
        Praesent finibus pellentesque magna vel scelerisque. In gravida, eros suscipit aliquet luctus, augue turpis porttitor sapien, ut dapibus enim dui quis lorem. 
        Pellentesque aliquet, est et tristique lacinia, urna mauris cursus nisl, vitae tristique urna ante ac quam. Integer eu dapibus nisl. Mauris ligula massa, 
        tempor in ornare ut, sagittis non nisi. Vivamus semper enim est, sit amet aliquam sapien auctor quis. Proin leo mauris, consequat eget efficitur id, malesuada eu enim. 
        In sit amet dolor ut odio vestibulum interdum vitae quis arcu. Maecenas pharetra neque eget augue dignissim fermentum. In hac habitasse platea dictumst. 
        Nulla non enim vel mauris euismod fermentum mollis ac lorem.
    </p>
</article>
