<header>
  <ul>
    <li><a [routerLink]="['/about']" [routerLinkActive]="['active']">About</a></li>
    <li><a [routerLink]="['/projects']" [routerLinkActive]="['active']">Projects</a></li>
    <li id="logo"><a [routerLink]="['/about']">JP</a></li>
    <li><a [routerLink]="['/create-project']" [routerLinkActive]="['active']">Create Project</a></li>
    <li><a [routerLink]="['/contact']" [routerLinkActive]="['active']">Contact</a></li>
  </ul>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>

<footer>
  Portafolio de Proyectos Julian Alberto Perdomo Fierro &copy;
</footer>